name: 07-aws-secrets-gh-cli

on:
    workflow_dispatch:
    push:

jobs:
    aws-check:
        runs-on: ubuntu-latest

        # Aquí se inyectan los secrets como variables de entorno
        # GitHub los oculta automáticamente en los logs
        env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
            AWS_REGION: ${{ secrets.AWS_REGION }}

        steps:
            - name: Mensaje inicial
              run: |
                  echo "Vamos a usar AWS sin mostrar ninguna clave"
                  echo "Las claves vienen de los Secrets de GitHub"

            - name: Comprobar identidad en AWS
              run: |
                  aws sts get-caller-identity

            - name: Mensaje para el alumno
              run: |
                  echo "Si ves información de AWS arriba, todo está bien configurado"